
.carform{
  overflow: hidden;
  min-height: 90vh;
  display: flex;
  align-items: center;
  align-content: center;
  margin: auto;
  justify-content: space-around;
  color: white;
  margin-bottom: 0%;
}

.buttonnn{
  border-radius: 8px;
  margin: 0% 30%;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 3px solid #23d997;
  background: transparent;
  color: white;
  transition: all 0.5s ease;
  &:hover{
    background-color: #23d997;
    color: white;
  }
}

.question{
  margin-top: 5%;
  text-align: center;
}


@media (max-width: 600px) {
  .question { width: 300px; }
}

@media (min-width: 600px) {
  .question { width: 400px; }
}

@media (min-width: 900px) {
  .question { width: 775px; }
}

.qs{
  margin-bottom: 2%;
  h3{
    font-size: 2rem;
  }
}

input{
  width: 775px;
  font-size: 1.1rem;
  top: 100%;
  left: 0;
  z-index: 2;
  border: 2px solid #23d997;
  border-radius: 8px;
  background: transparent;
  color: white;
  transition: all 0.5s ease;
  &:hover{
    background: #1b1b1b;
    color: white;
    cursor: pointer;
 }
}

@media (max-width: 600px) {
  input { width: 300px; }
}

@media (min-width: 600px) {
  input { width: 400px; }
}

@media (min-width: 900px) {
  input { width: 775px; }
}

select {
  font-size: 1.1rem;
  top: 100%;
  left: 0;
  width: 775px;
  z-index: 2;
  border: 2px solid #23d997;
  border-radius: 8px;
  background: transparent;
  color: white;
  transition: all 0.5s ease;
  &:hover{
    background: #1b1b1b ;
    color: white;
    cursor: pointer;
 }
}

@media (max-width: 600px) {
  select { width: 300px; }
  .card-red{
    margin: 7% 10%!important;
 }
 .card-yellow{
   margin: 7% 10%!important;
}
.card-green{
  margin: 7% 10%!important;
}
}
@media (min-width: 600px) {
  select { width: 400px; }
}

@media (min-width: 900px) {
  select { width: 775px; }
}

.box-red{
    position: relative;
    width: 300px;
    height: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-red:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    background: linear-gradient(135deg, #ff0000, #990000);
}

.box-red:nth-child(1),.box:nth-child(1)::before{
    background: linear-gradient(135deg, #ff0000, #990000);
    z-index: 0;
    border-radius: 25px;
}

.card-red{
  background-color: #1b1b1b;
  z-index: -100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4% 30%;
  border-radius: 25px;
  border: 3px solid #ff0000;
}

.box-yellow{
    position: relative;
    width: 300px;
    height: 200px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-yellow:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    background: linear-gradient(135deg, #ffdd00, #fbb034);
}

.box-yellow:nth-child(1),.box:nth-child(1)::before{
    background: linear-gradient(135deg, #ffdd00, #fbb034);
    z-index: 0;
    border-radius: 25px;
}

.card-yellow{
  background-color: #1b1b1b;
  z-index: -100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4% 30%;
  border-radius: 25px;
  border: 3px solid #ffdd00;
}

.box-green{
    position: relative;
    width: 300px;
    height: 200px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-green:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    background: linear-gradient(135deg, #5aff15, #00b712);
}

.box-green:nth-child(1),.box:nth-child(1)::before{
    background: linear-gradient(135deg, #5aff15, #00b712);
    z-index: 0;
    border-radius: 25px;
}

.card-green{
  background-color: #1b1b1b;
  z-index: -100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4% 30%;
  border-radius: 25px;
  border: 3px solid #5aff15;
}

.score{
  z-index: 100;
  font-size: 9rem;
  color: white;
}

.othertitle{
  text-align: center;
  padding-top: 2%;
  font-size: 35px;
}

.bcenter{
  text-align: center;
}
