*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}

div{
  font-size: 1.2rem;
}

body{
  background: #1b1b1b;
  font-family: 'Inter', sans-serif;
  color: white;
}

html{
  @media (max-width: 1700px){
    font-size: 70%;
  }
  @media (max-width: 1300px){

  }
}
.app{
  transition: all 0.5s ease;
}

p{
  padding: 3rem 0rem;
  color: #ccc;
  font-size: 1.4rem;
  line-height: 150%;
}

.card{
  border: 3px dashed #23d997;
  text-align: center;
  border-radius: 15px;
  margin: 3% 10%;
  padding: 5% 3%;
  &:hover{
    background-color: #23d997;
    color: white;
  }
  div{
    margin: 4% 0%;
  }
  a{
    text-decoration: none;
    color: white;
    padding: 0% 2%;
    background-color: #23d997;
    border: 1px solid #23d997;
    border-radius: 8px;
  }
}

.morecard{
  border: 3px solid #23d997;
  text-align: center;
  border-radius: 15px;
  margin: 3% 10%;
  padding: 5% 3%;
}

.morep{
  padding: 1.5rem 0rem;
  color: #ccc;
  font-size: 1.4rem;
  line-height: 150%;
}

.moreplast{
  padding: 1.5rem 0rem;
  color: #ccc;
  font-size: 1.4rem;
  line-height: 150%;
  padding-bottom: 3rem;
}

.moreinfo{
  padding-top: 2.5rem;
  color: #ccc;
  font-size: 3.5rem;
  text-align: center;
}


.cards{
  max-width: 1000px;
  align-items: center;
  margin: 0 auto;
  display: grid;
  padding: 0;
}

.modal {
  max-width: 900px;
  background-color: #4e5954;
  text-align: center;
  align-items: center;
  margin: 0% 20%;
  font-size: 12px;
  border: 1px solid white;
  border-radius: 8px;
}
.modal > .header {
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.modal > .content {
  width: 100%;
  padding: 10px;
  a{
    text-decoration-color: #23d997;
    text-decoration-line: none;
    color: #23d997;
  }
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  opacity: 5;
  cursor: pointer;
  float: right;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  border-radius: 18px;
  border: 1px solid white;
  background-color: #ffffff;
}
.popupbutton{
  -webkit-box-flex: 1 1 auto;
    -moz-box-flex:  1 1 auto;
    -webkit-flex:  1 1 auto;
    -ms-flex:  1 1 auto;
    flex:  1 1 auto;
  margin: 3%;
  margin-top: 2%;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 3px solid #23d997;
  background: transparent;
  color: white;
  transition: all 0.5s ease;
  &:hover{
    background-color: #23d997;
    color: white;
  }
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.modal > .headerafter {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  font-weight: bold;
  padding-top: 4%;
  padding-bottom: 2%;
}

ul {
   list-style-position: inside;
}

li{
  padding: 2% 0%;
}

.cont{
  padding-top: 0% !important;
}

.noresult{
  text-align: center;
  padding: 0% 20%;
  padding-bottom: 3%!important;
}

@media (max-width: 600px) {
  .popupbutton { margin: 5%;}
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr);
  column-gap: 3%; }
}

@import './home';
@import './form';
