*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}

body{
  background: #1b1b1b;
  font-family: 'Inter', sans-serif;
  color: white;
}

html{
  @media (max-width: 1700px){
    font-size: 70%;
  }
  @media (max-width: 1300px){

  }
}
.app{
  transition: all 0.5s ease;
}

p{
  padding: 3rem 0rem;
  color: #ccc;
  font-size: 1.4rem;
  line-height: 150%;
}

.card{
  border: 3px solid #23d997;
  text-align: center;
  border-radius: 15px;
  margin: 3% 10%;
  padding: 5% 3%;
}

.cards{
  max-width: 1000px;
  align-items: center;
  margin: 0 auto;
  display: grid;
  padding: 0;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr);
  column-gap: 3%; }
}

@import './home';
@import './form';
